<title>Tasks - Comm</title>
<div *ngIf="user && !user.guest else showLogin" 
[class.blurredContent]="taskService.hasActivePopup()">
  <!-- <fieldset [disabled]="taskService.actionInProgress"> -->
    <button #el (click)="taskService.showNewCategoryPopup(el)" [disabled]="taskService.newCategoryPopup">New category</button>
    <br>
    <label>
      <input type="checkbox" (click)="taskService.toggleShowArchivedCats()"> Show archived categories
    </label>
    <br>
    <br>

    <!-- Categories -->
    <div class="category" #thisCat *ngFor="let category of taskCategories" [id]="category.name" [class.collapsedCategory]="category.collapsed"
      [class.hidden]="taskService.pendingDeletion == category.name || (category.archived && !taskService.showArchivedCats)">
      <div class="nameOfCategory" [class.archived]="category.archived">
        <h4>
          <!-- Category name and actions -->
          <span (mouseover)="editCategory = category.name" *ngIf="((editCategory || editMode) != category.name) && !category.archived">
            <input type="text" autocomplete="off" [value]="category.name">
          </span>

          <span *ngIf="category.archived">{{ category.name }}</span>
          
          <!-- Edit name  -->
          <span (mouseout)="editCategory = undefined" (click)="editMode = category.name" *ngIf="(editCategory || editMode) == category.name">
            <form [id]="category.name" (ngSubmit)="taskService.editCategory(category, name.value); editCategory = undefined; editMode = undefined">
              <input type="text" autocomplete="off" [value]="category.name" #name name="n" id="newName" (blur)="editMode = undefined">
            </form>
          </span>

          <span *ngIf="!category.collapsed else showCollapsedCategory">
            <i class="fa fa-minus link" (click)="category.collapsed = true; taskService.collapseCategory(category.name, true)" title="Collapse category"
              *ngIf="!category.collapsed else showCollapsedName"></i>
            <br>
            <!-- Category buttons -->
            <i class="fa fa-trash link big" (click)="taskService.showDeleteCategoryPopup(thisCat); activeCategory = category" title="Delete this category" *ngIf="category.tasks.length == 0"></i>
            <i class="fa fa-trash disabledIcon big" title="Cannot delete this category as it contains tasks" *ngIf="category.tasks.length > 0"></i>
            <i class="fa fa-archive link big" title="Archive this category" (click)="taskService.showArchiveCategoryConfirmation(thisCat); activeCategory = category" *ngIf="!category.archived"></i>
            <i class="fa fa-newspaper-o link big" title="Restore this category" (click)="taskService.archiveCategory(category, false)" *ngIf="category.archived"></i>
          </span>
          <!-- Collapsed category -->
          <ng-template #showCollapsedCategory>
            <i class="fa fa-plus link" (click)="category.collapsed = false; taskService.collapseCategory(category.name, false); globalService.scrollTo(category.name)" title="Expand category"></i>
            <br>
            <span title="#not started + #in progress + #completed">({{ taskService.activeTasksCounter(category.tasks) }})</span>
          </ng-template>
        </h4>
      </div>
      <!-- Tasks - all status blocks -->
      <ng-container *ngFor="let status of taskService.statusBlocks">
        <section class="tasks" *ngIf="!category.collapsed" [class.archived]="category.archived">
          <!-- New Placeholder Task -->
          <div class="task placeholder" #placeholder *ngIf="status == 'not started' && !category.archived">
            <div class="taskPrio">&nbsp;</div>
            <div class="main">
              <div class="taskSubject">

                <button class="addTask2" (click)="taskService.showNewTaskPopup(placeholder); activeCategory = category" [disabled]="taskService.newTaskPopup && activeCategory == category || taskService.actionInProgress"
                *ngIf="status == 'not started'">
                +
              </button>
                
            </div>
            <div class="taskPoints"></div>
            </div>
            <div class="taskButtons">&nbsp;</div>
          </div>

          <span class="header">
            {{ status }} ({{ taskService.getTasksInStatusBlock(category.tasks, status) }})
          </span>
          
          <div class="task" #thisTask *ngFor="let task of taskService.filterByStatusAndSort(category.tasks, status)" 
          [class.disabledTask]="task.priority == 0">
          <!-- [class.activeTask]="(taskService.editTaskPopup || taskService.deleteTaskPopup) && activeTask == task" -->
            <div class="taskPrio {{ prioText[task.priority] }}" title="Task priority: {{ prioText[task.priority] }}">
              <!-- {{ prioText[task.priority] }} -->
            </div>
            <div class="main" [class.archivedTask]="category.archived">
              <div class="taskSubject" [class.finishedTask]="task.status == 'completed'" [title]="task.status == 'not started' ? task.description : (task.status == 'in progress' ? task.description + '\n\nTask started at ' + task.startedAt.substring(0, 16) : task.description + '\n\nTask started at ' + task.startedAt.substring(0, 16) + '\nTask completed at ' + task.completedAt.substring(0, 16))">
                {{ task.subject }}
              </div>
              <div class="taskPoints" title="Points">
                {{ task.points }}
              </div>
            </div>
            <!-- Task Buttons -->
            <div class="taskButtons" *ngIf="!category.archived">
              <span style="text-align: left">
                <i class="fa fa-backward" [class.link]="task.status != 'not started' && task.priority > 0" [class.disabledIcon]="status == 'not started' || task.priority == 0"
                  (click)="task.status != 'not started' && task.priority > 0 ? taskService.showChangeTaskStatusPrompt(thisTask) : ''"
                  (click)="activeCategory = category; activeTask = task"
                  [title]="task.status == 'in progress' && task.priority > 0 ? 'Abort task' : (task.status == 'completed' ? 'Restart task' : '')"></i>
              </span>
              <span style="text-align: center">
                <i class="fa fa-edit link" (click)="taskService.showEditTaskPopup(thisTask); globalService.setFocus('editTaskSubject'); activeCategory = category; destinationCategory = category; activeTask = task"></i>
              </span>
              <span style="text-align: right">
                <i class="fa fa-forward" [class.link]="task.status != 'completed' && task.priority > 0" [class.disabledIcon]="status == 'completed' || task.priority == 0"
                  (click)="task.status != 'completed' && task.priority > 0 ? taskService.changeTaskStatus(category, task, 1) : ''"
                  [title]="task.status == 'not started' && task.priority > 0 ? 'Start task' : (task.status == 'in progress' && task.priority > 0 ? 'Complete task' : '')"></i>
              </span>
            </div>
          </div>

        </section>
      </ng-container>

    </div>
  <!-- </fieldset> -->
</div>


<!-- Lights off Element -->
<div class="lightsoff" 
*ngIf="taskService.hasActivePopup()"></div>
<!-- (click)="taskService.actionInProgress ? '' : taskService.closePopups()"  -->

<!-- New Category Popup -->
<div class="popup" #popup (mousedown)="globalService.dragPopup(popup, $event)" [style.top]="taskService.popupTop + 'px'" [style.left]="taskService.popupLeft + 'px'" *ngIf="taskService.newCategoryPopup">
  <!-- {{ name.focus() }} -->
  <h4>New category</h4>
  <form (mouseover)="globalService.blockDrag()" (mouseout)="globalService.unblockDrag()" (ngSubmit)="taskService.newCategory(name.value)">
    <input type="text" placeholder="Name" autocomplete="off" id="newCategoryName" #name name="n">
    <br>
    <button type="submit" [disabled]="taskService.actionInProgress">
      Submit
      <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
    </button>
    <button type="reset" [disabled]="taskService.actionInProgress" (click)="taskService.closePopups()">Cancel</button>
  </form>
</div>


<!-- Edit Category Popup ----------Not used--------- -->
<div class="popup" *ngIf="taskService.editCategoryPopup">
  <!-- {{ name.focus() }} -->
  <h4>Edit category</h4>
  <form (ngSubmit)="taskService.editCategory(activeCategory, name.value)">
    <fieldset (mouseover)="globalService.blockDrag()" (mouseout)="globalService.unblockDrag()" [disabled]="taskService.actionInProgress || taskService.deleteCategoryPopup">
      <input type="text" placeholder="Name" autocomplete="off" [value]="activeCategory.name" id="editCategoryName" #name name="n">
      <br>
      <button type="submit">
        Save
        <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress && !taskService.deleteCategoryPopup"></i>
      </button>
      <button type="reset" (click)="taskService.closePopups()">Cancel</button>
      <button type="button" (click)="taskService.showDeleteCategoryPopup()" [disabled]="activeCategory.tasks.length > 0" [title]="activeCategory.tasks.length > 0 ? 'Cannot delete a category containing tasks' : ''">Delete category</button>
    </fieldset>
  </form>
</div>


<!-- Delete Category Confirmation Popup -->
<div class="popup confirmationPrompt" #popup (mousedown)="globalService.dragPopup(popup, $event)" [style.top]="taskService.popupTop + 'px'" [style.left]="taskService.popupLeft + 'px'" *ngIf="taskService.deleteCategoryPopup">
  This action cannot be undone! Are you sure you want to delete '{{ activeCategory.name }}'?
  <br>
  <fieldset (mouseover)="globalService.blockDrag()" (mouseout)="globalService.unblockDrag()">  
    <button (click)="taskService.deleteCategory(activeCategory)" [disabled]="taskService.actionInProgress">
      Yes
      <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
    </button>
    <button (click)="taskService.deleteCategoryPopup = undefined" [disabled]="taskService.actionInProgress">No</button>
  </fieldset>
</div>


<!-- Archive Category Confirmation Popup -->
<div class="popup confirmationPrompt" #popup (mousedown)="globalService.dragPopup(popup, $event)" [style.top]="taskService.popupTop + 'px'" [style.left]="taskService.popupLeft + 'px'" *ngIf="taskService.archiveCategoryPopup">
    Do you want to archive '{{ activeCategory.name }}'?. Archived categories can still be seen if 'Show archived category' is checked, and can also be restored.
    <br>
    <fieldset (mouseover)="globalService.blockDrag()" (mouseout)="globalService.unblockDrag()">
      <button (click)="taskService.archiveCategory(activeCategory, true)" [disabled]="taskService.actionInProgress">
        Yes
        <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
      </button>
      <button (click)="taskService.archiveCategoryPopup = undefined" [disabled]="taskService.actionInProgress">No</button>
    </fieldset>
</div>


<!-- New Task Popup -->
<div class="popup" #popup (mousedown)="globalService.dragPopup(popup, $event)" [style.top]="taskService.popupTop + 'px'" [style.left]="taskService.popupLeft + 'px'" *ngIf="taskService.newTaskPopup">
  <!-- {{ subject.focus() }} -->
  <h4>New task in {{ activeCategory.name }}</h4>
  <form (ngSubmit)="taskService.newTask(activeCategory, subject.value, description.value, points.value, priority.value)">
    <fieldset (mouseover)="globalService.blockDrag()" (mouseout)="globalService.unblockDrag()" [disabled]="taskService.actionInProgress">
      <input type="text" placeholder="Subject" autocomplete="off" id="newTaskSubject" #subject name="s">
      <br>
      <textarea placeholder="Description" autocomplete="off" #description name="d"></textarea>
      <br>
      <select #points name="po">
        <option value="1">Points: 1</option>
        <option value="2">Points: 2</option>
        <option value="3">Points: 3</option>
        <option value="5">Points: 5</option>
        <option value="8">Points: 8</option>
        <option value="13">Points: 13</option>
        <option value="21">Points: 21</option>
      </select>
      <br>
      <select #priority name="pr">
        <option value="0">Disabled</option>
        <option value="1" selected>Priority: Low</option>
        <option value="2">Priority: Medium</option>
        <option value="3">Priority: High</option>
        <option value="4">Priority: Critical</option>
      </select>
      <br>

      <button type="submit" [disabled]="actionInProgress">
        Submit
        <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
      </button>
      <button type="reset" (click)="taskService.closePopups()">Cancel</button>
    </fieldset>
  </form>
</div>


<!-- Edit Task Popup -->
<div (mousedown)="!taskService.deleteTaskPopup ? globalService.dragPopup(popup, $event) : ''" class="popup" #popup [style.top]="taskService.popupTop + 'px'" [style.left]="taskService.popupLeft + 'px'" *ngIf="taskService.editTaskPopup">
  <!-- {{ subject.focus() }} -->
  <h4>Edit task</h4>
  <form (ngSubmit)="taskService.editTask(activeCategory, destinationCategory, activeTask.id, subject.value, description.value, points.value, priority.value)">
    <fieldset (mouseover)="globalService.blockDrag()" (mouseout)="globalService.unblockDrag()" [disabled]="taskService.actionInProgress || taskService.deleteTaskPopup">
      <select [(ngModel)]="destinationCategory" name="dc">
        <option *ngFor="let category of taskCategories" [ngValue]="category">{{ activeCategory == category ? '&raquo;' : '' }} {{ category.name }}</option>
      </select>
      <br>
      <input type="text" placeholder="Subject" autocomplete="off" [value]="activeTask.subject" id="editTaskSubject" #subject name="s">
      <br>
      <textarea placeholder="Description" style="resize: vertical" autocomplete="off" [value]="activeTask.description" #description name="d"></textarea>
      <br>
      <select [value]="activeTask.points" #points name="po">
        <option value="1">Points: 1</option>
        <option value="2">Points: 2</option>
        <option value="3">Points: 3</option>
        <option value="5">Points: 5</option>
        <option value="8">Points: 8</option>
        <option value="13">Points: 13</option>
        <option value="21">Points: 21</option>
      </select>
      <br>
      <select [value]="activeTask.priority" #priority name="pr">
        <option value="0" *ngIf="activeTask.status != 'completed'">Disabled</option>
        <option value="1">Priority: Low</option>
        <option value="2">Priority: Medium</option>
        <option value="3">Priority: High</option>
        <option value="4">Priority: Critical</option>
      </select>
      <br>

      <button type="submit">
        Save
        <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress && !taskService.deleteTaskPopup"></i>
      </button>
      <button type="reset" (click)="taskService.closePopups()">Cancel</button>
      <button type="button" (click)="taskService.showDeleteTaskPrompt(popup)">Delete</button>
    </fieldset>
  </form>
</div>


<!-- Delete Task Confirmation Popup -->
<div class="popup confirmationPrompt" #popup (mousedown)="globalService.dragPopup(popup, $event)" [style.top]="taskService.promptTop + 'px'" [style.left]="taskService.promptLeft + 'px'" *ngIf="taskService.deleteTaskPopup">
  This action cannot be undone! Are you sure you want to delete the task?
  <br>
  <fieldset (mouseover)="globalService.blockDrag()" (mouseout)="globalService.unblockDrag()">
    <button (click)="taskService.deleteTask(activeCategory, activeTask.id)" [disabled]="taskService.actionInProgress">
      Yes
      <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
    </button>
    <button (click)="taskService.deleteTaskPopup = undefined" [disabled]="taskService.actionInProgress">No</button>
  </fieldset>
</div>


<!-- Restart/Abort Task Confirmation Popup -->
<div class="popup confirmationPrompt" #popup (mousedown)="globalService.dragPopup(popup, $event)" [style.top]="taskService.promptTop + 'px'" [style.left]="taskService.promptLeft + 'px'" *ngIf="taskService.changeTaskStatusPopup">
  <!-- Do you want to restart or abort the task? -->
  Do you want to {{ activeTask.status == "completed" ? "restart" : "abort" }} the task?
  <br>
    <fieldset (mouseover)="globalService.blockDrag()" (mouseout)="globalService.unblockDrag()">
      <button (click)="taskService.changeTaskStatus(activeCategory, activeTask, -1); taskService.closePopups()" [disabled]="taskService.actionInProgress">
        Yes
        <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
      </button>
      <button (click)="taskService.changeTaskStatusPopup = undefined" [disabled]="taskService.actionInProgress">No</button>
    </fieldset>
  </div>


<ng-template #showLogin>
  <!-- <app-404></app-404> -->
  You have to be logged in as an authorised user to view this page
</ng-template>