<section *ngIf="user && !user.guest else showLogin" class="container">

  <button (click)="taskService.showCategoryPopup()" [disabled]="taskService.categoryPopup">New task category</button>
  <br>
  <!-- New Category -->
  <div class="popupContainer" *ngIf="taskService.categoryPopup">
    <div class="popup">
      <h4>New task category</h4>
      <form (ngSubmit)="taskService.newCategory(name.value)">
        <input type="text" placeholder="Name" autocomplete="off" #name name="n">
        <br>
        <button type="submit" [disabled]="taskService.actionInProgress">
          Submit
          <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
        </button>
        <button type="reset" [disabled]="taskService.actionInProgress" (click)="taskService.closePopups()">Cancel</button>
      </form>
    </div>
  </div>

  <!-- Categories -->
  <div class="category" *ngFor="let category of taskCategories">
    <div class="nameOfCategory">
      <h3>{{ category.name }}</h3>
    </div>
    <!-- Tasks Not started -->
    <section class="tasksInCategory">
      <div *ngFor="let task of category.tasks">
      <div class="task" *ngIf="task.status == 'not started'" [class.disabledTask]="taskService.editTaskPopup && activeTask != task">
        <div class="taskPrio {{ task.priority }}">
          {{ task.priority }}
        </div>

        <div class="main">
          <div class="taskName" title="{{ task.description }}">
            {{ task.name }}
          </div>
          <div class="taskPoints">
            {{ task.points }}
          </div>
        </div>
        <!-- Buttons -->
        <div class="taskButtons">
          <a>
            <i class="fa fa-trash" (click)="taskService.showDeleteConfirmation = true; deleteId = task.id"></i>
          </a>
          <a>
            <i class="fa fa-edit" (click)="taskService.showEditTaskPopup(); name_key = category.name_key; activeTask = task"></i>
          </a>
          <a>
            <i class="fa fa-exchange" (click)="taskService.changeTaskStatus(category.name_key, task.id, 'in progress')"></i>
          </a>
        </div>

        <!-- Edit Task -->
        <div class="popupContainer" *ngIf="taskService.editTaskPopup && activeTask == task">
          <div class="popup">
            <h4>Edit task</h4>
            <form (ngSubmit)="taskService.editTask(name_key, activeTask.id, name.value, description.value, points.value, priority.value)">
              <input type="text" placeholder="Name" autofocus autocomplete="off" [ngModel]="activeTask.name" #name name="n">
              <br>
              <textarea placeholder="Description" autocomplete="off" [ngModel]="activeTask.description" #description name="d"></textarea>
              <br>
              <select [ngModel]="activeTask.points" #points name="po">
                <option value="1">Points: 1</option>
                <option value="2">Points: 2</option>
                <option value="3">Points: 3</option>
                <option value="5">Points: 5</option>
                <option value="8">Points: 8</option>
                <option value="13">Points: 13</option>
                <option value="21">Points: 21</option>
              </select>
              <br>
              <select [ngModel]="activeTask.priority" #priority name="pr">
                <option value="low">Priority: Low</option>
                <option value="medium">Priority: Medium</option>
                <option value="high">Priority: High</option>
                <option value="critical">Priority: Critical</option>
              </select>
              <br>

              <button type="submit" [disabled]="taskService.actionInProgress">
                Edit
                <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
              </button>
              <button type="reset" (click)="taskService.closePopups()" [disabled]="taskService.actionInProgress">Cancel</button>
            </form>
          </div>
        </div>

        <!-- Delete confirmation -->
        <div class="popupContainer" *ngIf="taskService.showDeleteConfirmation && deleteId == task.id">
          <div class="popup mediumPrompt">
            This action cannot be undone! Are you sure you want to delete the task?
            <br>
            <button (click)="taskService.deleteTask(category.name_key, task.id)">Yes</button>
            <button (click)="taskService.showDeleteConfirmation = false">No</button>
          </div>
        </div>

      </div>
      </div>

      <!-- New Task -->
      <div class="popupContainer" *ngIf="taskService.newTaskPopup && category == activeCategory">
        <div class="popup">
          <h4>New task in {{ activeCategory.name }}</h4>
          <form (ngSubmit)="taskService.newTask(activeCategory.name_key, name.value, description.value, points.value, priority.value)">
            <input type="text" placeholder="Name" autofocus autocomplete="off" #name name="n">
            <br>
            <textarea placeholder="Description" autocomplete="off" #description name="d"></textarea>
            <br>
            <select #points name="po">
              <option value="1">Points: 1</option>
              <option value="2">Points: 2</option>
              <option value="3">Points: 3</option>
              <option value="5">Points: 5</option>
              <option value="8">Points: 8</option>
              <option value="13">Points: 13</option>
              <option value="21">Points: 21</option>
            </select>
            <br>
            <select #priority name="pr">
              <option value="low">Priority: Low</option>
              <option value="medium">Priority: Medium</option>
              <option value="high">Priority: High</option>
              <option value="critical">Priority: Critical</option>
            </select>
            <br>

            <button type="submit" [disabled]="actionInProgress">
              Submit
              <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
            </button>
            <button type="reset" (click)="taskService.closePopups()" [disabled]="taskService.actionInProgress">Cancel</button>
          </form>
        </div>
      </div>

      <button class="addTask" (click)="taskService.showNewTaskPopup(); activeCategory = category" [disabled]="taskService.newTaskPopup && activeCategory == category">
        +
      </button>
    </section>
  </div>

  <!-- Tasks In Progress -->
  <div class="statusBlock">
    <div class="statusName">
      <h4>In Progress ({{ tasksInProgress.length }})</h4>
    </div>
    <section class="tasksInStatusBlock">
      <div class="task" *ngFor="let task of tasksInProgress" [class.disabledTask]="taskService.editTaskPopup && activeTask != task">
        <div class="taskPrio {{ task.priority }}">
          {{ task.priority }}
        </div>

        <div class="main">
          <div class="taskName" title="{{ task.description }}">
            {{ task.name }}
          </div>
          <div class="taskPoints">
            {{ task.points }}
          </div>
        </div>

        <div class="taskButtons">
          <a>
            <i class="fa fa-trash" (click)="taskService.showDeleteConfirmation = true; deleteId = task.id"></i>
          </a>
          <a>
            <i class="fa fa-edit" (click)="taskService.showEditTaskPopup(); name_key = category.name_key; activeTask = task"></i>
          </a>
          <a>
            <i class="fa fa-exchange" (click)="taskService.changeTaskStatus(category.name_key, task.id, 'in progress')"></i>
          </a>
        </div>

        <!-- Edit Task -->
        <div class="popupContainer" *ngIf="taskService.editTaskPopup && activeTask == task">
          <div class="popup">
            <h4>Edit task</h4>
            <form (ngSubmit)="taskService.editTask(name_key, activeTask.id, name.value, description.value, points.value, priority.value)">
              <input type="text" placeholder="Name" autofocus autocomplete="off" [ngModel]="activeTask.name" #name name="n">
              <br>
              <textarea placeholder="Description" autocomplete="off" [ngModel]="activeTask.description" #description name="d"></textarea>
              <br>
              <select [ngModel]="activeTask.points" #points name="po">
                <option value="1">Points: 1</option>
                <option value="2">Points: 2</option>
                <option value="3">Points: 3</option>
                <option value="5">Points: 5</option>
                <option value="8">Points: 8</option>
                <option value="13">Points: 13</option>
                <option value="21">Points: 21</option>
              </select>
              <br>
              <select [ngModel]="activeTask.priority" #priority name="pr">
                <option value="low">Priority: Low</option>
                <option value="medium">Priority: Medium</option>
                <option value="high">Priority: High</option>
                <option value="critical">Priority: Critical</option>
              </select>
              <br>

              <button type="submit" [disabled]="taskService.actionInProgress">
                Edit
                <i class="fa fa-spinner fa-spin" *ngIf="taskService.actionInProgress"></i>
              </button>
              <button type="reset" (click)="taskService.closePopups()" [disabled]="taskService.actionInProgress">Cancel</button>
            </form>
          </div>
        </div>

        <!-- Delete confirmation -->
        <div class="popupContainer" *ngIf="taskService.showDeleteConfirmation && deleteId == task.id">
          <div class="popup mediumPrompt">
            This action cannot be undone! Are you sure you want to delete the task?
            <br>
            <button (click)="taskService.deleteTask(category.name_key, task.id)">Yes</button>
            <button (click)="taskService.showDeleteConfirmation = false">No</button>
          </div>
        </div>

      </div>
    </section>
  </div>

  <!-- Completed Tasks -->
  <div class="statusBlock">
    <div class="statusName">
      <h4>Completed ({{ completedTasks.length }})</h4>
    </div>
    <section class="tasksInStatusBlock">
      <div class="task" *ngFor="let task of completedTasks" [class.disabledTask]="taskService.editTaskPopup && activeTask != task">
        <div class="taskPrio {{ task.priority }}">
          {{ task.priority }}
        </div>

        <div class="main">
          <div class="taskName" title="{{ task.description }}">
            {{ task.name }}
          </div>
          <div class="taskPoints">
            {{ task.points }}
          </div>
        </div>

        <div class="taskButtons">
          <a>
            <i class="fa fa-trash" (click)="taskService.showDeleteConfirmation = true; deleteId = task.id"></i>
          </a>
          <a>
            <i class="fa fa-edit" (click)="taskService.showEditTaskPopup(); name_key = category.name_key; activeTask = task"></i>
          </a>
          <a>
            <i class="fa fa-exchange" (click)="taskService.changeTaskStatus(category.name_key, task.id, 'in progress')"></i>
          </a>
        </div>
      </div>
    </section>
  </div>

</section>

<ng-template #showLogin>
  <!-- <app-404></app-404> -->
  You have to be logged in as a registered user to view this page
</ng-template>