.titleRow {
    display: flex;
    /* flex-wrap: nowrap; */
    /* display: inline-block; */
    display: 1px dotted blue;
}

/* .titleRow::after {
    width: 100%;
} */

/* .spacer {
    min-width: 125px;
    width: 125px;
    padding: 0 10px;
    border: 1px dashed grey;
} */
.title {
    /* display: flex; */
    flex-wrap: nowrap;
    /* width: 300px; */
    min-width: 140px;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
    /* border: 1px solid red; */
}

.category {
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 1000px; */
    /* margin: 0 10px 20px 0; */
    margin-bottom: 20px;
    /* border: 1px dashed red; */
}
.wrap {
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 20px;
}
.hidden {
    display: none;
}


.nameOfCategory, .spacer {
    min-width: 125px;
    max-width: 125px;
    padding: 0 10px;
    text-align: center;
}

.nameOfCategory form {
    display: inline-block;
}
.nameOfCategory input {
    width: 70px;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-align: center;
}

.nameOfCategory {
    /* order: 2; */
    border: 1px solid black;
}
 
section.tasks, .title {
    display: flex;
    /* width: 300px;  */
    width: 310px;
}

/* .title {
    order: 1;
} */

section.tasks {
    order: 2;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid black;
    border-left: none;
}

/* section.collapsed {
    height: 60px;
    overflow: hidden;
    opacity: .8;
} */

.task, .disabledTask, .activeTask {
    /* display: block; */
    /* height: 120px; */
    width: 130px;
    /* border: 1px solid black; */
    margin: 10px;
    font-size: 12px;
    background-color: white;
    opacity: .85;
    /* overflow: hidden; */
    /* background-color: yellow; */
    /* background-color: yellowgreen; */
}

.disabledTask {
    opacity: .5;
}

.activeTask {
    transform: scale(1.2);
    opacity: 1;
}

.task .taskPrio {
    /* height: 10px; */
    font-size: 10px;
    text-indent: 5px;
    border: 1px solid black;
}
    .task .disabled {
        background-color: grey;
    }
    .task .low {
        background-color: green;
    }
    .task .medium {
        background-color: yellowgreen;
    }
    .task .high {
        background-color: gold;
    }
    .task .critical {
        background-color: orangered;
    }

    
.task .main {
    float: left;
    /* width: 100%; */
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.task .taskName {
    float: left;
    /* display: block; */
    width: 77px;
    max-height: 100px;
    padding: 10px 10px;
    overflow: hidden;
    word-wrap: break-word;
    /* margin: 0; */
    /* border: 1px dashed blueviolet; */
    /* border-left: 1px solid black;*/
    border-right: 1px solid black;
    /* background-color: lightgrey; */


    /* white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; */
}
.task .taskPoints {
    float: right;
    /* height: 100%; */
    width: 10px;
    padding: 10px 10px;
    /* border: 1px dotted blue; */
    /* border-left: 1px solid black; */
    text-align: center;
    /* margin: 0; */
}
.task .taskButtons {
    float: left;
    width: 128px;
    height: 15px;
    text-indent: 3px;
    font-size: 12px;
    /* border: 1px dashed red; */
    border: 1px solid black;
}

button.addTask {
    margin: 10px;
    font-size: 20px;
    width: 50px;
    height: 50px;
}

.statusBlock {
    float: left;
    width: 400px;
    /* height: 300px; */
    margin: 20px 10px;
    border: 1px solid black;
}

.statusName {
    height: 30px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}
