.channelContainer {
    width: fit-content;
    margin-top: 10px;
    position: relative;
    /* border: 1px solid black; */
    font-size: 14px;
}

.channel {
    border: 1px solid black;
    margin-top: -1px;
    display: flex;
    word-wrap: break-word;
}

.channel div {
    padding: 5px 8px;
}

.channel .name {
    width: 100px;
}

.channel .description {
    width: 400px;
}

.channel .buttons {
    width: 50px;
}

.channel .name, .channel .description {
    border-right: 1px solid #ddd;
}