<title>Chat lobby - Comm</title>
<div [class.blurredContent]="chatService.createChannelPopup || chatService.deleteChannelPopup">
  <h2>Available chat channels</h2>
  <button #el (click)="chatService.showCreateChannelPopup(el)" *ngIf="user && user.admin" [disabled]="chatService.createChannelPopup">Create new chat channel</button>

  <!-- Channels -->
  <div class="channelContainer">
    <div class="channel" #channel *ngFor="let chatChannel of chatService.allChannels">
      <div class="name">
        <a [routerLink]="'/chat/' + chatChannel.name.toLowerCase()">{{ chatChannel.name }}</a>
      </div>
      <div class="description">
        {{ chatChannel.description }}
      </div>
      <div class="buttons" *ngIf="user && user.admin && !chatChannel.protected">
        <i class="fa fa-trash-o link" (click)="chatService.showDeleteChannelPopup(channel); activeChannel = chatChannel"></i>
      </div>
    </div>
  </div>
</div>

<!-- Lights off Element -->
<div class="lightsoff"  *ngIf="chatService.createChannelPopup || chatService.deleteChannelPopup"></div>
<!-- (click)="chatService.actionInProgress ? '' : chatService.closePopups()" -->

<!-- Create Channel Popup -->
<div class="popup" #popup id="createChannelPopup" (mousedown)="globalService.dragPopup(popup, $event)" *ngIf="chatService.createChannelPopup">
 <!-- [style.top]="chatService.popupTop + 'px'" [style.left]="chatService.popupLeft + 'px'"> -->
  <h4>Create new chat channel</h4>
  <form (ngSubmit)="chatService.newChannel(channelName.value, channelDescription.value)">
    <fieldset [disabled]="chatService.actionInProgress">
      <input type="text" placeholder="Name" autocomplete="off" id="channelName" #channelName name="cn">
      <br>
      <input type="text" placeholder="Description" autocomplete="off" #channelDescription name="cd">
      <br>
      <button type="submit">
        Create
        <i class="fa fa-spinner fa-spin" *ngIf="chatService.actionInProgress"></i>
      </button>
      <button type="reset" (click)="chatService.closePopups()">Cancel</button>
    </fieldset>
  </form>
</div>


<!-- Delete Channel Confirmation -->
<div class="popup confirmationPrompt" id="deleteChannelPopup" *ngIf="chatService.deleteChannelPopup">
  This action cannot be undone!
  <br> Are you sure you want to delete the channel '{{ activeChannel.name }}'?
  <br>
  <button (click)="chatService.deleteChannel(activeChannel.name)" [disabled]="chatService.actionInProgress">
    Yes
    <i class="fa fa-spinner fa-spin" *ngIf="chatService.actionInProgress"></i>
  </button>
  <button (click)="chatService.closePopups()" [disabled]="chatService.actionInProgress">No</button>
</div>