<title>Chat lobby - Comm</title>
<div [class.blurredContent]="chatService.createChannelPopup || chatService.deleteChannelPopup">
  <h2>Available chat channels</h2>
  <button (click)="chatService.showCreateChannelPopup(); globalService.setFocus('channelName'); parentElement = createChannelButton" #createChannelButton *ngIf="user && user.admin" [disabled]="chatService.createChannelPopup">Create new chat channel</button>

  <!-- Channels -->
  <div class="channelContainer">
    <div class="channel" *ngFor="let chatChannel of chatService.allChannels">
      <div class="name">
        <a [routerLink]="'/chat/' + chatChannel.name.toLowerCase()">{{ chatChannel.name }}</a>
      </div>
      <div class="description">
        {{ chatChannel.description }}
      </div>
      <div class="buttons" *ngIf="user && user.admin && !chatChannel.protected">
        <a (click)="chatService.showDeleteChannelPopup(); activeChannel = chatChannel">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="lightsoff" (click)="chatService.actionInProgress ? '' : chatService.closePopups()" *ngIf="chatService.createChannelPopup || chatService.deleteChannelPopup"></div>

<!-- Create Channel Popup -->
<div class="popup" *ngIf="chatService.createChannelPopup" [style.top]="parentElement.offsetTop + 100 + 'px'" [style.left]="parentElement.offsetLeft + 50 + 'px'">
  <strong>Create new chat channel</strong>
  <form (ngSubmit)="chatService.newChannel(channelName.value, channelDescription.value)">
    <fieldset [disabled]="chatService.actionInProgress">
      <input type="text" placeholder="Name" autocomplete="off" id="channelName" #channelName name="cn">
      <br>
      <input type="text" placeholder="Description" autocomplete="off" #channelDescription name="cd">
      <br>
      <button type="submit">
        Create
        <i class="fa fa-spinner fa-spin" *ngIf="chatService.actionInProgress"></i>
      </button>
      <button type="reset" (click)="chatService.closePopups()">Cancel</button>
    </fieldset>
  </form>
</div>


<!-- Delete Channel Confirmation -->
<div class="popup_fixed confirmationPrompt" *ngIf="chatService.deleteChannelPopup">
  This action cannot be undone!
  <br> Are you sure you want to delete the channel '{{ activeChannel.name }}'?
  <br>
  <button (click)="chatService.deleteChannel(activeChannel.name)" [disabled]="chatService.actionInProgress">
    Yes
    <i class="fa fa-spinner fa-spin" *ngIf="chatService.actionInProgress"></i>
  </button>
  <button (click)="chatService.closePopups()" [disabled]="chatService.actionInProgress">No</button>
</div>