<h2>Available chat channels</h2>
<div *ngIf="user && user.admin">
  <input type="button" value="Create new chat channel" (click)="createPopup('Create new chat channel')" *ngIf="!createChannel">
</div>

<div class="channelContainer">
  <div class="channel" *ngFor="let chatChannel of chatChannels | async">
    <div class="name">
      <a [routerLink]="'/chat/' + chatChannel.id">{{ chatChannel.name }}</a>
    </div>
    <div class="description">
      {{ chatChannel.description }}
    </div>
    <div class="buttons" *ngIf="user && user.admin && chatChannel.id != 'ks7vyEz0rVGXv8EVRRCY' &&  chatChannel.id != '8gxTy0q6ZzMu5yXA2Fam'">
      <!-- <a (click)="confirmDeletion = true; deleteId = chatChannel.id; deleteName = chatChannel.name" *ngIf="user && user.admin"> -->
        <a (click)="confirmPopup('This action cannot be undone!', 'Are you sure you want to delete the channel \'' + chatChannel.name + '\'?', chatChannel.id)">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
  </div>

</div>

<br>
<br>
<br>
<input type="button" value="Test popup" (click)="createPopup('test')" *ngIf="user && user.admin">
