.menuContainer {
    display: flex;
    width: 100%;
    text-indent: 3px;
    
    background-color: #99c;
    font-size: 14px;
    
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}

a {
    display: inline-block;
    padding: 10px 20px;
    color:white;
    /* border: 1px solid red; */
    white-space: nowrap;
    /* outline: 0; */
}
a:hover, .dropdown a {
    background-color: #aad;
    cursor: pointer;
}



.bars {
    display: none;
}
.left {
    display: flex;
}

.right {
    margin-left: auto;
}
@media screen and (max-width: 550px) {
    .left {
        display: none;
    }
    .bars {
        display: block;
    }
}



i {
    font-size: 16px;
}

div.search {
    /* border: 1px solid red; */
    padding: 3px 20px;
    /* width: 60%; */
}

input {
    padding: 2px 10px;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 0;
    outline: 0;
}


/* Dropdown */
.dropdown {
    position: relative;
    color: black;
}

.dropdown-content-left, .dropdown-content-right {
    position: absolute;
    display: none;
    top: 37px;
    /* z-index: 2; */
    border: 1px solid black;
    border-top: none;
    text-indent: 0;
    white-space: nowrap;
}
.dropdown-content-left {
    left: 0;
    border-left: none;
}
.dropdown-content-right {
    right: 0;
    border-right: none;
}

.dropdown:hover .dropdown-content-left, .dropdown:hover .dropdown-content-right {
    display: block;
}

.dropdown a {
    display: block;
    color: black;
    white-space: nowrap;
}

.dropdown a:hover {
    color: white;
    /* background-color: #bbe; */
}