<div class="menuContainer">
  <!-- <div class="left menuitem">
    <i class="fa fa-bars"></i>
  </div> -->
  <a routerLink="">
    <div class="left menuitem">
      Home
    </div>
  </a>
  <a routerLink="/tasks">
    <div class="left menuitem">
      Tasks
    </div>
  </a>
  <a routerLink="/chat">
    <div class="left menuitem">
      Chat
    </div>
  </a>

  <a (click)="authService.googleLogin()" name="login" *ngIf="!user">
    <div class="right menuitem">
      Log in
    </div>
  </a>
  <a (click)="authService.logout()" name="logout" *ngIf="user">
    <div class="right menuitem">
      Log out
    </div>
  </a>
  <div class="right iconitem" *ngIf="user">
    <i class="fa fa-user-plus" title="admin" *ngIf="user.admin"></i>
    <i class="fa fa-user" title="registered user" *ngIf="!user.admin && !user.guest"></i>
    <i class="fa fa-user-o" title="guest" *ngIf="user.guest"></i>
    <label for="logout">{{ user.displayName }}</label>
  </div>

  <!-- <div class="right search">
    <input type="text" placeholder="Search">
  </div> -->
</div>