<div class="menuContainer">

  <a class="dropdown bars">
    <i class="fa fa-bars"></i>
    <div class="dropdown-content-left">
      <a routerLink="">Home</a>
      <a routerLink="/tasks">Tasks</a>
      <a routerLink="/chat">Chat</a>
      <a routerLink="/test">Test </a>
    </div>
  </a>

  <div class="left">
    <a routerLink="">Home</a>
    <a routerLink="/tasks">Tasks</a>
    <a routerLink="/chat">Chat</a>
    <a routerLink="/test">Test</a>
    <a routerLink="/products">Products</a>
  </div>

  <!-- <div style="margin-left: auto"></div> -->

  <div class="right">
    <a class="dropdown" *ngIf="!user">
      Log in
      <div class="dropdown-content-right">
        <a (click)="authService.googleLogin()">Google login</a>
      </div>
    </a>

    <a class="dropdown" *ngIf="user">
      <i class="fa fa-user-plus" title="admin" *ngIf="user.admin"></i>
      <i class="fa fa-user" title="registered user" *ngIf="!user.admin && !user.guest"></i>
      <i class="fa fa-user-o" title="guest" *ngIf="user.guest"></i>
      {{ user.displayName }}
      <div class="dropdown-content-right">
        <a (click)="authService.logout()">Log out</a>
      </div>
    </a>
  </div>


  <!-- <div class="right search">
    <input type="text" placeholder="Search" disabled>
  </div> -->
</div>