<ul>
  <a routerLink="">
    <li class="left menuitem">
      Home
    </li>
  </a>
  <li class="left menuitem">
    <i class="fa fa-bars"></i>
  </li>
  <li class="left menuitem">
    Item #1
  </li>
  <li class="left menuitem">
    Item #2
  </li>
  <a routerLink="/tasks">
    <li class="left menuitem">
      Tasks
    </li>
  </a>
  <a routerLink="/chat">
    <li class="left menuitem">
      Chat
    </li>
  </a>

  <a (click)="authService.googleLogin()" name="login" *ngIf="!user">
    <li class="right menuitem">
      <!-- <i class="fa fa-user-circle"></i> -->
      <!-- <label for="login">Log in</label> -->
      Log in
    </li>
  </a>
  <a (click)="authService.logout()" name="logout" *ngIf="user">
    <li class="right menuitem">
      Log out
    </li>
  </a>
  <li class="right iconitem" *ngIf="user">
    <i class="fa fa-user-plus" title="admin" *ngIf="user.admin"></i>
    <i class="fa fa-user" title="registered user" *ngIf="!user.admin && !user.guest"></i>
    <i class="fa fa-user-o" title="guest" *ngIf="user.guest"></i>
    <label for="logout">{{ user.displayName }}</label>
  </li>

  <li class="right search">
    <input type="text" placeholder="Search">
  </li>
  <!-- class="googleLoginImg">
      <img src="http://www.kthotelsgate.com/assets/theme_dark/images/sign-in-button.png"> -->
</ul>