.chatContainer {
    height: 400px;
    width: 1000px;
    border: 1px solid grey;
    overflow: auto;
}

.msg:hover {
    background-color: #f5f5f5;
}

.msg:hover .time, .msg:hover .delete {
    display: inline;
}

.time {
    display: none;
    float: right;
    margin-right: 10px;
}

.delete {
    display: none;
    float: right;
    margin-right: 10px;
}

.newMsg {
    width: 998px;
    margin: 5px 0;
    font-size: 16px;
}

.googleLogin {
    /* width: 200px; */
    padding: 5px;
    /* background-color: white; */
    background-color: #db4835;
    margin-right: 1px;
    border-radius: 3px;
    display: inline-block;
}
.googleLogin img {
    float: left;
    margin:5px;
    width: 25px;
    /* border: 1px dashed blue; */
    /* padding-right: 1px; */
    /* border-right: 1px solid white; */
}
.googleLogin .link {
    float: left;
    position: relative;
    /* top: 8px; */
    /* border: 1px dotted grey; */
    /* display: inline-block; */
    padding: 0 5px;
    /* font-weight: bold; */
    font: sans-serif 16px bold;
    color: white;
}

.googleLoginImg img {
    width: 220px;
}