section.menu {
    /* border: 1px solid blue; */
    height: 100%;
    /* padding: 10px; */
    margin-right: 10px;
}
section.menu .home {
    line-height: 30px;
}
section.menu div {
    margin-bottom: -1px;
    padding: 10px;
    border: 1px solid black;
    background-color: #eee;
}
section.menu div:hover {
    background-color: #ddd;
}