<script>
  function dragElement(elmnt) {
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    console.log("dragging element");
    if (document.getElementById(elmnt.id)) {
      /* if present, the header is where you move the DIV from:*/
      document.getElementById(elmnt.id).onmousedown = dragMouseDown;
    } else {
      /* otherwise, move the DIV from anywhere inside the DIV:*/
      elmnt.onmousedown = dragMouseDown;
    }

    function dragMouseDown(e) {
      e = e || window.event;
      // get the mouse cursor position at startup:
      pos3 = e.clientX;
      pos4 = e.clientY;
      document.onmouseup = closeDragElement;
      // call a function whenever the cursor moves:
      document.onmousemove = elementDrag;
    }

    function elementDrag(e) {
      e = e || window.event;
      // calculate the new cursor position:
      pos1 = pos3 - e.clientX;
      pos2 = pos4 - e.clientY;
      pos3 = e.clientX;
      pos4 = e.clientY;
      // set the element's new position:
      elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
      elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
    }

    function closeDragElement() {
      /* stop moving when mouse button is released:*/
      document.onmouseup = null;
      document.onmousemove = null;
    }
  }
</script>

<title>Comm</title>
<div [class.blurredContent]="showTestPopup">
  This is the home page
  <!-- TEST -->
  <div *ngIf="user && user.admin">
    <h3>Test stuff</h3>
    <div class="testContainer">
      <h4>Messages</h4>
      <button (click)="this.messageService.addMessage('add', 'addition message')">Test add</button>
      <button (click)="this.messageService.addMessage('update', 'edit message')">Test update</button>
      <button (click)="this.messageService.addMessage('delete', 'deleted message')">Test delete</button>
      <br>
      <br>
      <button (click)="this.messageService.addMessage('error', 'error message')">Test error</button>
      <button (click)="this.messageService.addMessage('', 'generic message')">Test generic</button>
    </div>

    <div class="testContainer">
      <h4>Timer</h4>
      <!-- <button (click)="timer.start()">Start timer</button> -->
      <button (click)="timer.isStarted() ? stopTimer() : startTimer()">{{ timer.isStarted() ? 'Stop timer' : 'Start timer' }}</button>
      <button (click)="lapTimer()">Lap</button>
      <button (click)="resetTimer()">Reset</button>
      <input type="checkbox" (click)="timer.toggleLog()">console.log
      <!-- <button (click)="timer.stop()">Stop timer</button> -->

      <br>
      <span id="timerStatus"></span>
      <span id="timerDisplay"></span>
    </div>

    <div class="testContainer">
      <h4>Clock</h4>
      <button (click)="clockStarted ? stopClock() : ''; timeStamp = globalService.getTimeStamp()">Get current timestamp</button>
      <button (click)="toggleClock()">{{ clockStarted ? 'Stop clock' : 'Start clock' }}</button>
      <br>
      <span>{{ timeStamp }}</span>
    </div>

    <!-- <div class="testContainer">
      <h4>Efficiency test</h4>
      <button (click)="testArray(3000000)">Test array find 3'000'000</button>
      <br>
      <input type="number" #num name="n" autocomplete="off" value="1000000">
      <button (click)="testArray(num.value)">Test array find with this number</button>
    </div> -->

    <div class="testContainer">
      <h4>Popup test</h4>
      <button (click)="showTestPopup = true; globalService.setFocus('testField'); parentElement = popupButton" #popupButton>
       <!-- popupPosTop = popupButton.offsetTop; popupPosLeft = popupButton.offsetLeft" -->
        Show popup</button>
    </div>

  </div>
</div>

<!-- <div *ngIf="showTestPopup"> -->
<div class="lightsoff" (click)="showTestPopup = false" *ngIf="showTestPopup"></div>

<!-- <div class="popup" *ngIf="showTestPopup" [ngStyle]="setPopupPos(parentElement, -100, 200)"> -->
<!-- <div class="popup" *ngIf="showTestPopup" [ngStyle]="{'top': parentElement.offsetTop - 100 + 'px', 'left': parentElement.offsetLeft + 200 + 'px' }"> -->
<div class="popup" *ngIf="showTestPopup" [style.top]="parentElement.offsetTop - 100 + 'px'" [style.left]="parentElement.offsetLeft + 200 + 'px'">
  <input type="text" #testField id="testField">
  <button (click)="showTestPopup = false">Close</button>
</div>

<!-- </div> -->